* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    margin: 40px 8%;
}
