.card-project {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.card-project button {
    padding: 4px 6px;
    background-color: aquamarine;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: 1px solid rgb(92, 192, 158);
}

.card-project button:hover {
    background-color: rgb(182, 253, 229);
}